<section class="hero-banner">
  {%- if section.settings.image != blank -%}
    <img
      class="hero-img"
      src="{{ section.settings.image | image_url: width: 1700 }}"
      alt="{{ section.settings.image.alt | default: section.settings.title }}"
      width="1700"
      loading="eager"
    >
  {%- else -%}
    {{ 'lifestyle-2' | placeholder_svg_tag: 'hero-img' }}
  {%- endif -%}
  {% comment %} <div class="hero-overlay"></div> {% endcomment %}
  <div class="hero-content">
    {%- if section.settings.subtitle != blank -%}
      <p class="hero-subtitle">{{ section.settings.subtitle }}</p>
    {%- endif -%}
    {%- if section.settings.title != blank -%}
      <h1 class="hero-title">{{ section.settings.title }}</h1>
    {%- endif -%}
    {%- if section.settings.button_text != blank -%}
      <a href="{{ section.settings.button_link | default: '#' }}" class="btn-primary">
        {{ section.settings.button_text }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
      </a>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Cold Snap. Hot Deals."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "DEALS $50 AND UNDER"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}
